@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UCenter</h1>
    <p class="lead">提供游戏中的用户认证与授权服务</p>
    <p><a href="https://github.com/CragonGame/GF.UCenter" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>